@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-surface-light text-slate-900 dark:bg-surface-dark dark:text-slate-100;
}

h1, h2, h3, .font-display {
  font-family: 'Sora', sans-serif;
}

* {
  scrollbar-width: thin;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
